In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm

In [13]:
file1 = pd.read_csv('Data_Marketing_Customer_Analysis_Round3.csv')
cars_df=file1
cars_df

FileNotFoundError: [Errno 2] No such file or directory: 'Data_Marketing_Customer_Analysis_Round3.csv'

In [4]:
fig=plt.figure(figsize=(8,5))
sns.heatmap(cars_df.corr(),annot=True)

NameError: name 'cars_df' is not defined

In [ ]:
# No correlation

In [ ]:
#One Hot/Label Encoding of the categorical variables in the categoricals data frame that you created in Activity 3.
#( Hint: check Dropfirst option).

In [10]:
categorical = cars_df.select_dtypes(include='object')
categorical

,region,response,coverage,education,effective_to_date,month,employment_status,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,central,no,basic,college,2/18/11,feb,employed,m,suburban,married,corporate auto,corporate l3,offer3,agent,four-door car,medsize
1,west region,no,basic,college,1/18/11,jan,unemployed,f,suburban,single,personal auto,personal l3,offer4,call center,four-door car,medsize
2,east,no,basic,bachelor,2/10/11,feb,employed,m,suburban,single,personal auto,personal l3,offer3,call center,suv,medsize
3,north west,yes,extended,college,1/11/11,jan,employed,m,suburban,single,corporate auto,corporate l3,offer2,branch,four-door car,medsize
4,north west,no,premium,bachelor,1/17/11,jan,medical leave,f,suburban,married,personal auto,personal l2,offer1,branch,four-door car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,central,no,premium,bachelor,1/19/11,jan,unemployed,f,suburban,married,personal auto,personal l1,offer3,web,luxury car,medsize
10685,north west,no,basic,college,1/6/11,jan,employed,f,urban,married,personal auto,personal l3,offer2,branch,four-door car,medsize
10686,central,no,extended,bachelor,2/6/11,feb,employed,f,rural,married,corporate auto,corporate l3,offer1,web,luxury suv,medsize
10687,west region,no,premium,college,2/13/11,feb,employed,f,urban,divorced,personal auto,personal l1,offer1,branch,suv,medsize
10688,central,no,basic,bachelor,1/8/11,jan,unemployed,m,suburban,single,personal auto,personal l1,offer4,web,suv,medsize

In [11]:
cars_df["location_code"].value_counts()

suburban    6742
rural       2086
urban       1861
Name: location_code, dtype: int64

In [13]:
def clean_location_code(x):
    if x in ['suburban']:
        return 1
    elif x in ['rural']:
        return 0
    elif x in ['urban']:
        return 2    
    else:
        return x

In [15]:
categorical['location_code'] = list(map(clean_location_code, categorical['location_code'])) 
categorical

,region,response,coverage,education,effective_to_date,month,employment_status,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,central,no,basic,college,2/18/11,feb,employed,m,1,married,corporate auto,corporate l3,offer3,agent,four-door car,medsize
1,west region,no,basic,college,1/18/11,jan,unemployed,f,1,single,personal auto,personal l3,offer4,call center,four-door car,medsize
2,east,no,basic,bachelor,2/10/11,feb,employed,m,1,single,personal auto,personal l3,offer3,call center,suv,medsize
3,north west,yes,extended,college,1/11/11,jan,employed,m,1,single,corporate auto,corporate l3,offer2,branch,four-door car,medsize
4,north west,no,premium,bachelor,1/17/11,jan,medical leave,f,1,married,personal auto,personal l2,offer1,branch,four-door car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,central,no,premium,bachelor,1/19/11,jan,unemployed,f,1,married,personal auto,personal l1,offer3,web,luxury car,medsize
10685,north west,no,basic,college,1/6/11,jan,employed,f,2,married,personal auto,personal l3,offer2,branch,four-door car,medsize
10686,central,no,extended,bachelor,2/6/11,feb,employed,f,0,married,corporate auto,corporate l3,offer1,web,luxury suv,medsize
10687,west region,no,premium,college,2/13/11,feb,employed,f,2,divorced,personal auto,personal l1,offer1,branch,suv,medsize
10688,central,no,basic,bachelor,1/8/11,jan,unemployed,m,1,single,personal auto,personal l1,offer4,web,suv,medsize

In [16]:
categorical["marital_status"].value_counts()

married     6199
single      2910
divorced    1580
Name: marital_status, dtype: int64

In [21]:
pd.get_dummies(categorical["marital_status"], prefix=None, prefix_sep='_', dummy_na=False, columns=None, sparse=False, drop_first=False, dtype=None)

       divorced  married  single
0             0        1       0
1             0        0       1
2             0        0       1
3             0        0       1
4             0        1       0
...         ...      ...     ...
10684         0        1       0
10685         0        1       0
10686         0        1       0
10687         1        0       0
10688         0        0       1

[10689 rows x 3 columns]

In [ ]:
# (Optional Task)

In [28]:
from sklearn.preprocessing import PowerTransformer, StandardScaler, minmax_scale
from numpy import asarray
from sklearn.preprocessing import MinMaxScaler

In [38]:
# Use minmax transform to bring varA's values into the range [0,1].
varA=cars_df["income"]
data = asarray(varA)

In [46]:

scaled = minmax_scale.fit_transform(data)
print(scaled)

AttributeError: 'function' object has no attribute 'fit_transform'

In [1]:
#Linear Regression
# X-y split (y is the target variable, which is the total claim amount)
X=cars_df.drop('total_claim_amount', axis=1)
y=cars_df.total_claim_amount

NameError: name 'cars_df' is not defined